body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #23b9bedc;
}
.banner {
    height: 400px;
    background:#06ecbae0 url(./Musicas/WhatsApp\ Image\ 2020-11-23\ at\ 14.54.13.jpeg) no-repeat scroll;
    background-size: contain;
    text-align: right;
    border-bottom: 4px rgb(40, 14, 185) solid;
}

.banner h1 {
    padding-top: 150px;
    margin: 0;
    font-size: 48px;
    color: rgb(82, 147, 201);
}

.banner p {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.banner button {
    background-color: rgba(6, 58, 51, 0.842);
    border: 0;
    padding: 10px 20px;
}

.imagem1 {
    display: flex;
    height: 200px;
    float: left;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 22px;
}

.frase_inicial {
    background-color: #1e75d8b0;
    padding: 20px 200px;
    height: 200px;
    margin-left: 150px;
    border-bottom: 2px rgba(40, 14, 185, 0.623) solid;
}

.frase_inicial h1 {
    color: white;
    margin: 0;
    font-weight: 400;
    text-align: end;

}
.frase_inicial h3 {
    color: white;
    margin: 0;
    font-weight: 400;
    text-align: center;
}
.nome {
    background-color: #1f2bcfbd;
    padding: 20px 200px;
    height: 30px;
    border-bottom: 2px rgba(40, 14, 185, 0.623) solid;
}
.nome {
    color: white;
    margin: 0;
    font-weight: 400;
    text-align: center;
    padding-bottom: 80px;
}
.box_sobre {
    height: 420px;
    background-color:#1e75d8b0;
}
.box_sobre img {
    width: 80px;
}
.container1 .box-sobre{
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 30px ;
}
.container1 .box-sobre2{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 30px ;
}
.container1 .box-sobre3{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 30px ;
}